.componentsForm{
	padding: 20px;
}

.componentItem{
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: solid 1px rgb(0,0,0,0.2);
	position: relative;

}

.componentLeftItem{
	display: flex;
	align-items: center;

}

.noMargin{
	margin: 0px 10px;
	font-size: 22px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.87);
}

.componentCenerItem{
	margin-left: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.87);
}

.componentRightItem{
	position: absolute;
	display: flex;
	align-items: center;
	right:10px;

}

.componentRightItem>p{
	text-align: right;
}

.subtractQuantity{
	cursor: pointer;
	color: rgba(0, 0, 0, 0.6);

}

.addQuantity{
	cursor: pointer;
	color: rgba(0, 0, 0, 0.6);
}

.submitBtn{
	width: 100%;
	height: 48px;
	margin-top: 10px;
	background: #353636;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	color: white;
	cursor: pointer;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
}

@media (min-width: 670px) {

	.componentsForm{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.componentItem{
		width: 500px !important;
	}

	.submitBtnLink{
		width: 500px;
	}
}