.searchDiv{
	display: flex;
	justify-content: center;
}

.MuiFormControl-root{
	max-width: 80% !important;
}

.sliderDiv{
	margin-top: 20px;
	border-bottom: solid 8px #F2F2F7;
	padding-left: 20px;
	padding-bottom: 20px;
	flex: 1;
    display: -webkit-box;
    overflow: scroll
}

.sliderDiv::-webkit-scrollbar {
	display: none;
}  

.filterOption{
	width: 150px;
	height: 40px;
	left: 194px;
	top: calc(50% - 40px/2);
	background: #EEEEEE;
	border-radius: 36px;
	display: flex;
	justify-content: center;
	align-items:center;
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-right: 10px;
}

.filterOption {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.filterOption:focus {
    outline: none !important;
}

.react-multi-carousel-item{
	width: 180px !important;
}

.main-div{
	position: relative;
}

.addDiv{
	bottom: 20px;
	right: 30px;
	width: 172px;
	height: 48px;
	background: #353636;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	position:fixed;
	color: white;
	display: flex;
	justify-content: center;
	align-items:center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
}

.loadMoreButton{
	width: 100%;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #353636;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
	justify-content: center;
	align-items:center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}

.loadMoreButtonComplete{
	display: none;
}

.itemArea{
	display: block;
}

.search-bar-div{
	display: none;
}

@media (min-width: 670px) {
	.itemArea{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.search-bar-div{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 630px;
	}

	.sliderDiv {
		width: 630px;
		border-bottom: solid 1px #F2F2F7;
	}

	.search-bar-div>h1{
		font-size: 25px;
	}

	.search-bar-input-div{
		border: 1px solid rgba(0, 0, 0, 0.08);
		box-sizing: border-box;
		border-radius: 4px;
		padding: 5px;
		display: flex;
		align-items: center;
	}

	.search-bar-input-div>i{
		color: rgba(0, 0, 0, 0.4);
		margin-right: 5px;
		margin-left: 10px;
	}

	.search-bar-input-div>input{
		border: none;
		padding: 7px;
	}
	
}

.desktop-sidebar{
	display: none;
}

.desktop-create-btn{
	display: none;
}

@media (min-width: 950px) {

	.main-div{
		display: flex;
		min-height: 100vh;
		height: 100%;
	}

	.desktop-sidebar{
		display: block;
		width: 250px;
		background-color: #353636;
	}

	.desktop-itemArea{
		padding-left: 60px;
		padding-right: 60px;
		width: 100%;
	}

	.itemArea{
		align-items: flex-start;
		width: 100%;
	}
	
	.search-bar-div,
	.sliderDiv,
	#delete-container,
	.delete-content,
	.outer-div
	{
		width: 100% !important;
	}

	.desktop-sidebar-item{
		display: flex;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;
		background-color: #5F5F5F;
		margin-top: 20px;
	}

	.desktop-sidebar-item>p{
		color: white;
		margin-left: 10px;
	}

	.desktop-search-div{
		display: flex;
		align-items: center;
	}

	.desktop-create-btn{
		display: block;
		background: #353636;
		color: white;
		text-decoration: none;
		padding: 10px;
		margin-left: 20px;
		border-radius: 5px;
	}

	.addDiv{
		display: none;
	}
}